TASMOTA_HOST=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHAT_ID=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REFRESH_TOKEN=

YANDEX_RED_DEVICE_ID=
YANDEX_YELLOW_DEVICE_ID=
YANDEX_GREEN_DEVICE_ID=
